<% provide(:title, get_title("About"))%>
<h1>Hola</h1>
<%= image_tag 'gameofthrones.jpg', height: 100 %>
<h2>Video trailer</h2>
<iframe width="640" height="360" src="https://www.youtube.com/embed/EI0ib1NErqg" frameborder="0" allowfullscreen></iframe>
